<%= content_tag_for :tr, delivery do %>
  <td>
    <%= link_to delivery.user.email, admin_user_path(delivery.user) %>
  </td>
  <td>
    <%=  delivery.mating_unit.name %>
  </td>
  <td>
    <%= delivery.amount %>
  </td>
  <td>
    <%= l(delivery.incomedate) %>
  </td>
  <td>
    <%= l(delivery.pickupdate) %>
  </td>
  <td class="statechanger">
    <%= state_dropdown(delivery).html_safe %>
  </td>
<% end %>