<%= semantic_form_for [:admin, @mating_unit],
                      html: { multipart: true } do |form| %>
                      
  <%= form.semantic_errors %>
  <%= form.inputs do  %>
    <%= form.input :name  %>
    <li>
      <%=  image_tag @mating_unit.picture.url(:medium) unless @mating_unit.picture.blank? %>
    </li>
    <%= form.input :picture %>
  <% end %>
  <%= form.actions do %>
    <%= form.action :submit, :as => :button  %>
  <% end %>
<% end %>