<%= semantic_form_for current_user, :url => user_path(current_user) do |f| %>
  <%= f.semantic_errors %>
  <%= f.inputs :name => t('user.password') do %>
    <%= f.input :current_password %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>
  <%= f.inputs :name => t('user.address') do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :street %>
    <%= f.input :house_number %>
    <%= f.input :zip %>
    <%= f.input :city %>
    <%= f.input :country %>
  <% end%>
  <%= f.actions do %>
    <%= f.action :submit, :as => :button  %>
  <% end %>
<% end %>

<h3><%= t("devise.registrations.cancle_account")%></h3>
<p><%= link_to t("devise.registrations.cancle_my_account"), registration_path(current_user), :confirm => t('devise.registrations.sure'), :method => :delete %></p>
