<%= semantic_form_for current_user, :url => user_path(current_user) do |f| %>
  <%= f.inputs :current_password, :password, :password_confirmation %>
  <%= f.inputs :name => 'Adress' do %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :street %>
    <%= f.input :house_number %>
    <%= f.input :zip %>
    <%= f.input :city %>
    <%= f.input :country %>
  <% end%>
  <%= f.buttons %>
<% end %>

<h3><%= t("devise.registrations.cancle_account ")%></h3>
<p><%= link_to t("devise.registrations.cancle_my_account"), registration_path(resource_name), :confirm => t('device.registrations.sure'), :method => :delete %>.</p>
