<h1><%= t(:mating_apinaries, :scope => :mating_apiary)%></h1>
<%= link_to t('mating_apiary.create_new'),
            new_admin_mating_apiary_path,
            title: t('mating_apiary.create_new'),
            class: 'btn'%>
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        &nbsp;
      </th>
      <th>
        &nbsp;
      </th>
    </tr>
  </thead>
  <tbody>
  <% @mating_apiaries.each do |mating_apiary| %>
    <tr>
      <td>
        <%= link_to mating_apiary.name, edit_admin_mating_apiary_path(mating_apiary) %>
      </td>
      <td>
        <%= link_to t('edit'), edit_admin_mating_apiary_path(mating_apiary),
                    title: t('edit'),
                    class: 'btn btn-primary'
        %>

      </td>
      <td>
        <%= link_to t('delete'), admin_mating_apiary_path(mating_apiary),
                    title: t('delete'),
                    method: :delete,
                    class: 'btn'
        %>

      </td>

    </tr>
  <% end %>
  </tbody>
</table>
