<tr>
  <td><%= delivery.pickupdate%></td>
  <td><%= delivery.user.full_name%></td>
  <td><%= delivery.user.email %></td>
  <td><%= delivery.mating_unit.name %></td>
  <td><%= delivery.amount%></td>
  
</tr>