<h2><%= t('devise.sessions.log_in') %></h2>

<%= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= f.inputs do %>
    <%= f.input :email, :as => :email %>
    <%= f.input :password, :as => :password %>
    <% if devise_mapping.rememberable? -%>
      <%= f.input :remember_me, :as => :boolean %>
    <% end %>
  <% end %>
  <%= f.commit_button t('devise.sessions.log_in')%>
<% end %>

<%= render :partial => "devise/shared/links" %>