<%= f.semantic_errors %>
<%= f.inputs do %>
  <%= f.input :name %>
  <%= f.input :address,
              :input_html => {
                :class => 'autogrow',
                :rows => 10,
                :cols => 20,
                :maxlength => 10
              }  %>
  <%= f.input :lat %>
  <%= f.input :lon %>


  <h2><%= t('mating_units.mating_units') %></h2>
  <div id="places">
    <%= f.semantic_fields_for :places, class: 'form-inline' do |place| %>
      <%= render :partial => '/shared/place_fields', :locals => { :f =>  place }%>
    <% end %>
    <div class="links">
      <%= link_to_add_association t('places.add_place'),
                                  f,
                                  :places,
                                  class: 'btn btn-primary',
                                  :'association-insertion-method' => 'after'   %>
    </div>
  </div>
<% end %>

<%= f.actions do   %>
  <%= f.action :submit,
               :as => :button
  %>
<% end %>