<%= render :partial => 'menu', :locals => { :mating_apiary => @mating_apiary } %>


<h2><%= @mating_apiary.name %></h2>
<p>
  <address>
    <%= @mating_apiary.address %>
  </address>
</p>

<% unless @mating_apiary.father_line.blank? %>
  <h3><%= t('father_line.father_line')%></h3>
    <p>
      <%= @mating_apiary.father_line.race %> ( <%= @mating_apiary.father_line.name %> )
      <%= l(@mating_apiary.father_line.startdate) %> - <%= l(@mating_apiary.father_line.enddate) %>
    <p>
<% end %>

<h3><%= t('mating_apiary.location') %></h3>
<p>
  Latitude: <%= @mating_apiary.lat %>
</p>
<p>
  Longitude: <%= @mating_apiary.lon %>
</p>
<% if can?(:manage, @mating_apiary) %>
  <p><%= link_to(t('edit'), edit_mating_apiary_path(@mating_apiary), class: 'btn btn-primary') %></p>
<% end %>
<h3>Free Places/Delivery</h3>
<p>
  <% if @mating_apiary.open_places > 0 %>
    <%= t('mating_apiary.open_places')%>:
    <%= @mating_apiary.open_places  %>
    <%= link_to t('mating_apiary.create_delivery'), new_mating_apiary_delivery_path(@mating_apiary) %>
  <% else %>
    <%= t('mating_apiary.sorry_its_closed') %>
  <% end %>
</p>
