<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title>MatingManager</title>
    <meta charset="utf-8" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->        
    <%= stylesheet_link_tag 'application.css', :media => 'screen, projection' %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <header>
        <span>
          <%= t(:headertext) %>
        </span>
      </header>
      <div id="user_nav">
        <% if current_user %>
          Logged in as <%= current_user.email %>.
          <%= link_to "Log out", destroy_user_session_path %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path %> or
          <%= link_to "log in", new_user_session_path %>
        <% end %>
      </div>
      <%= render :partial => 'shared/nav' if current_user %>
      
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>

      <div id="content">      
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div>
  
  </body>
</html>
